header {
  background-color: var(--backgroundColor);
  padding: 3em;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  color: var(--textColor);
  font-variant-caps: small-caps;
  position: relative;
}

.h2-like {
  text-transform: uppercase;
}

.logo {
  display: none;
}

@media screen and (max-width: 411px) {

  .logo {
    display: block;
  }
}
