.orders__wrapper {
  display: flex;
  flex-direction: column;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
}

.order__name {
  width: 70%;
  font-size: 2em;
  font-weight: 300;
}

hr {
  opacity: 30%;
}

.order__remove {
  width: 30%;
}

.title_mini, .order {
  padding: 1em 3em;
}

.title_mini {
  font-weight: 300;
  text-transform: uppercase;
  padding: 3em;
}

.order__price {
  font-size: 2em;
  font-weight: 300;
}

.order__amount {
  color: #b2422a;
  font-weight: 600;
}

.total {
  font-size: 2em;
  padding: 1em 1.5em;
}

.remove {
  font-size: 2em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 624px) {

  .content {
    background-color: rgba(0, 0, 0, 0);
  }

  .orders__wrapper {
    height: 38vh;
    display: flex;
    flex-direction: column;
  }

  .order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
  }

  .title_mini {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1em 1.5em;
  }

  .total {
    font-size: 2em;
    padding: 1em 1.5em;
  }

  .emptystate {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .please {
    margin-bottom: 2em;
    opacity: 20%;
  }

  .emptystate__content {
    font-size: 1.5em;
  }
}
