@import './css/normalize.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/navigation.css';
@import './css/prices.css';
@import './css/order.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: ' Roboto ', sans-serif;
}

/*stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*stylelint-enable*/

.header__titles {
  padding-top: 1em;
}

.flex {
  display: flex;
  gap: 1em;
}

.hide {
  display: none;
}

main {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

nav {
  height: 10vh;
}

.prices {
  grid-row-start: 2;
  grid-row-end: 4;
}

.content {
  grid-column: 2 span;
  grid-row: 3 span;

}

@media screen and (max-width: 411px) {

  body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  main {
    display: flex;
    flex-direction: column;
  }
}
