@import './css/normalize.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/prices.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

/*stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*stylelint-enable*/

.header__titles {
  padding-top: 1em;
}

.flex {
  display: flex;
  gap: 1em;
}
